.footer{
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 0px;
    width: 100%;
}