.navbar{
    background-color: black;
    padding: 3px;
    text-align: center;
}

ul{
    
    }
    
li{
    display: inline;
    padding: 27px;
   
}

li:hover{
    background: rgb(224, 186, 80);    
    }

nav a{
    display: inline-block;
    text-align: center;
    line-height: normal;
    font-family: sans-serif;
    color: azure;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 45px;
    text-decoration: none;
}

nav a:active{
    background: rgb(224, 186, 80);
}


