<div class="flex_container">
  <div class="form">
     
        <div class="data">
          <label class="data_text">Su nombre:</label><br />
          <input  class="data_input"  type="text" value="" size="30" /><br />
        </div>
        <div class="data">
          <label class="data_text">Su correo electrónico:</label><br />
          <input  class="data_input" type="text" value="" size="30" /><br />
        </div>
        <div class="data">
          <label class="data_text" >Su mensaje:</label><br />
          <textarea class="data_input-mssg"  rows="7" cols="30"></textarea><br />
        </div>
          
          <input class="button_submit" type="submit" value="Enviar" />
  </div>
</div>
