<div class="flex_container">
  <div class="header-menu">
    <h1 class="header_tittle">Menú</h1>
  </div>

  <div class="introduction">
    <h3>Contamos con una amplia gama de sabores y platos para que disfrute con las personas que más ama.</h3> 
  </div>
  
  <div class="header-entradas">
      <h1 class="header-entradas_tittle">Entradas</h1>
  </div> 
  
  <div class="entradas">     
    <div class="entradas_menu">{{menuEntradas}}</div>
  </div>
  
  <div class="header-fuertes">
      <h1 class="header-fuertes_tittle">Platos Fuertes</h1>
  </div>

  <div class="platosFuertes">
    <div class="platos_menu">{{menuPlatosFuertes}}</div>
  </div>
  
  <div class="header-postres">
      <h1 class="header-postres_tittle">Postres</h1>
  </div>

  <div class="postres">
      <div class="postres_menu">{{menuPostres}}</div>
  </div>

</div>



