.grid{
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "sidebar sidebar"
    "footer footer";

}


.sidebar{
    grid-area: sidebar;
   
}
.content{
    grid-area: content;
}
.footer{
    grid-area: footer;
}
.list{
    margin-top: 0%;
    margin-left: 45px;
    padding: 0%;
}

.list_item{
    display: inline-block;
    margin: auto;
}
.list_item_small{
    width: 410px;
    height: 320px;
}
@media screen and (min-width:736px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "sidebar sidebar"
        "footer footer";
    
    }
}