.flex_container{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.slider{
    flex: 100%;
    text-align: center;
    align-items: stretch;
      
}

.list{
    flex: 100%;
    margin-top: 0%;
    margin-left: 45px;
    padding: 0%;
}

.list_item{
    flex: 33.33%;
    display: inline-block;
    margin: auto;
}
.list_item_small{
    width: 410px;
    height: 320px;
    size: cover;
}

